<?xml version="1.0"?>
<configuration>

  <!-- 개발 Config -->
  <!--<appSettings>
      <add key="BizActorServerName" value="172.18.1.13"/>
      <add key="BizActorPort" value="4510"/>
      <add key="BizActorSysID" value="0"/>
      <add key="BizActorProtocol" value ="TCP_BUFFERED"/>
      <add key="SMTPProxy" value="http://172.18.1.13:10000/WCF/SMTPService.svc" />
      <add key="RecipeServiceUrl" value="http://172.18.1.13:4533/RecipeServiceProvider"/>
      <add key="LoggingMode" value="In"/>
      <add key="GetWeightInterval" value="2000" />
      <add key="GetWeightCheckCnt" value="3" />
    </appSettings>-->

  <!-- QA Config -->
  <appSettings>
    <add key="BizActorServerName" value="172.18.1.37"/>
    <add key="BizActorPort" value="4510"/>
    <add key="BizActorSysID" value="0"/>
    <add key="BizActorProtocol" value ="TCP_BUFFERED"/>
    <add key="SMTPProxy" value="http://172.18.1.37:10000/WCF/SMTPService.svc" />
    <add key="RecipeServiceUrl" value="http://172.18.1.37:4533/RecipeServiceProvider"/>
    <add key="LoggingMode" value="In"/>
    <add key="GetWeightInterval" value="2000" />
    <add key="GetWeightCheckCnt" value="3" />
  </appSettings>

  <!-- 개발(VPN) Config -->
  <!--
    <appSettings>
      <add key="BizActorServerName" value="172.18.1.37"/>
      <add key="BizActorPort" value="4510"/>
      <add key="BizActorSysID" value="0"/>
      <add key="BizActorProtocol" value ="TCP_BUFFERED"/>
      <add key="SMTPProxy" value="http://10.10.10.7:10000/WCF/SMTPService.svc" />
      <add key="RecipeServiceUrl" value="http://10.10.10.7:4533/RecipeServiceProvider"/>
      <add key="LoggingMode" value="In"/>
      <add key="GetWeightInterval" value="2000" />
      <add key="GetWeightCheckCnt" value="3" />
    </appSettings>
    -->

  <!-- 운영 Config -->
  <!--<appSettings>
      <add key="BizActorServerName" value="172.18.1.36"/>
      <add key="BizActorPort" value="4510"/>
      <add key="BizActorSysID" value="0"/>
      <add key="BizActorProtocol" value ="TCP_BUFFERED"/>
      <add key="SMTPProxy" value="http://172.18.1.34:10000/WCF/SMTPService.svc" />
      <add key="RecipeServiceUrl" value="http://172.18.1.31:4533/RecipeServiceProvider"/>
      <add key="LoggingMode" value="In"/>
      <add key="GetWeightInterval" value="2000" />
      <add key="GetWeightCheckCnt" value="3" />
    </appSettings>-->

  <system.web>
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="*" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>