<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Command</Title>
      <Author>Punkguy (LGCNS)</Author>
      <Description>Command Template</Description>
      <HelpUrl></HelpUrl>
      <Shortcut>mvvmCommand</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>CommandName</ID>
          <ToolTip>Command name</ToolTip>
          <Default>myCmd</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="CSharp">
        <![CDATA[
        public ICommand $CommandName$Command
        {
            get
            {
                return new CommandBase(arg =>
                {
                    try
                    {
                        IsBusy = true;
                        
                        CommandResults["$CommandName$Command"] = false;
                        CommandCanExecutes["$CommandName$Command"] = false;

                        ///
                        /// 
                        ///

                        CommandResults["$CommandName$Command"] = true;
                    }
                    catch (Exception ex)
                    {
                        CommandResults["$CommandName$Command"] = false;
                        OnException(ex.Message, ex);
                    }
                    finally
                    {
                        CommandCanExecutes["$CommandName$Command"] = true;
                            
                        IsBusy = false;
                    }
                },  arg =>
                {
                    return CommandCanExecutes.ContainsKey("$CommandName$Command") ?
                        CommandCanExecutes["$CommandName$Command"] : (CommandCanExecutes["$CommandName$Command"] = true);
                });
            }
        }
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>